
footer{
    @include flexbox(column);
    background-color: rgb(27, 27, 27);
    color: white;
    padding-left: 50px;
    @media (min-width: 1000px){
        grid-column: 1 / span 2;
        margin-top: 10px;
    }
    & h3{
        font-family: "Shrikhand", sans-serif;
        font-size: 45px;
    }
    & ul{
        margin-top: 0px;
        padding: 0px;
        list-style-type: none;
        & li{
            margin: 10px;
            & a {
                color: white;
            }
        }
    }
}


