
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: white;
    padding-left: 50px;
    & p{
        margin: 40px 0px 20px 0px;
    }
    & ul{
        margin-top: 0px;
        padding: 0px;
        list-style-type: none;
        & li{
            margin: 10px;
        }
    }
}


