
.header-main{
    @include flexbox(column, flex-start, center);
    &__title{
        font-family: "Shrikhand", sans-serif;
    }
    & p{
        background-color: $grey;
        width: 100%;
        text-align: center;
        padding: 20px 0px;
        margin: 0px;
        box-shadow: inset 0px 5px 10px $darkgrey;
    }
}

.header-menu{
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 80px;
    @media (min-width: 1000px){
        grid-column: 1 / span 2;
        background-color: white;
    }
    & a{
        @include flexbox(row, center, center);
    }
    &__title{
        font-family: "Shrikhand", sans-serif;
        margin: auto;
    }
}

