
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    & p{
        text-align: center;
        width: 100%;
        background-color: $grey;
        margin: 0px;
        padding: 20px 0px;
        box-shadow: inset 0px 5px 10px $darkgrey;
    }
    & figure{
        width: 100%;
    }
}

