/*General*/

body{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}


/*Header*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    margin: 15px 0px;
}

header p{
    text-align: center;
    width: 100%;
    background-color: rgb(211, 211, 211);
    margin: 0px;
    padding: 20px 0px;
    box-shadow: inset 0px 5px 10px rgb(124, 124, 124);
}


/* 1ere section */

.section1{
    font-size: 25px;
    padding: 0px 0px 50px 0px;
    text-align: center;
    background-color: rgb(190, 190, 190);
}

.section1 button{
    font-size: 19px;
    border: none;
    width: 300px;
    padding: 20px;
    color: white;
    background-color: rgb(83, 26, 187);
    border-radius: 50px;
    box-shadow: inset 15px 15px 50px rgb(194, 108, 175), 5px 5px 5px grey;
}

.section1 button:hover{
    background-color: rgb(126, 0, 138);
}

.section1 p{
    width: 85%;
    margin: 25px auto;
}

.section1 h1{
    width: 85%;
    margin: 30px auto;
}


/* 2ieme section */

.section2{
    display: flex;
    flex-direction: column;
    padding: 0px 5%;
    margin: 10px 0px 50px 0px;
}

.section2 button{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    border: none;
    padding: 25px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
}

.section2 button:hover{
    background-color: violet;
    color: white;
}

.section2__button{
    background-color: pink;
}

.section2__number{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: white;
    border: 2px solid rgb(223, 2, 223);
    border-radius: 50%;
    background-color: rgb(223, 2, 223);
    margin-left: -42px;
}

.section2__button__store{
    color: rgb(162, 0, 202);
}

/* 3ieme section */

.section3{
    background-color: rgb(190, 190, 190);
    padding: 0px 5%;
}

.section3 figure{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    margin: 20px 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
}

.section3 img{
    height: calc(100% - 86px);
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.section3 figcaption{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.coeur{
    font-size: 20px;
}

.coeur :hover{
    color: violet;
}


/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: white;
    padding-left: 50px;
}

footer p{
    margin: 40px 0px 20px 0px;
}

footer ul{
    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
}

footer ul li{
    margin: 10px;
}