@charset "UTF-8";
/*Mixin pour les flexboxs*/
/*Mixin pour les ombres*/
/*Mixin pour les bordures (souvent des boutons)*/
@keyframes card-load {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.9;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
.menu__card:nth-child(1) :nth-child(1) {
  animation: card-load 300ms 300ms both;
}
.menu__card:nth-child(1) :nth-child(2) {
  animation: card-load 300ms 600ms both;
}
.menu__card:nth-child(1) :nth-child(3) {
  animation: card-load 300ms 900ms both;
}
.menu__card:nth-child(1) :nth-child(4) {
  animation: card-load 300ms 1200ms both;
}
.menu__card:nth-child(1) :nth-child(5) {
  animation: card-load 300ms 1500ms both;
}

.menu__card:nth-child(2) :nth-child(1) {
  animation: card-load 300ms 1500ms both;
}
.menu__card:nth-child(2) :nth-child(2) {
  animation: card-load 300ms 1800ms both;
}
.menu__card:nth-child(2) :nth-child(3) {
  animation: card-load 300ms 2100ms both;
}
.menu__card:nth-child(2) :nth-child(4) {
  animation: card-load 300ms 2400ms both;
}
.menu__card:nth-child(2) :nth-child(5) {
  animation: card-load 300ms 2700ms both;
}

.menu__card:nth-child(3) :nth-child(1) {
  animation: card-load 300ms 2700ms both;
}
.menu__card:nth-child(3) :nth-child(2) {
  animation: card-load 300ms 3000ms both;
}
.menu__card:nth-child(3) :nth-child(3) {
  animation: card-load 300ms 3300ms both;
}
.menu__card:nth-child(3) :nth-child(4) {
  animation: card-load 300ms 3600ms both;
}
.menu__card:nth-child(3) :nth-child(5) {
  animation: card-load 300ms 3900ms both;
}

@media (min-width: 1000px) {
  .menu__card:nth-child(1) :nth-child(1) {
    animation: card-load 300ms 300ms both;
  }
  .menu__card:nth-child(1) :nth-child(2) {
    animation: card-load 300ms 600ms both;
  }
  .menu__card:nth-child(1) :nth-child(3) {
    animation: card-load 300ms 900ms both;
  }
  .menu__card:nth-child(1) :nth-child(4) {
    animation: card-load 300ms 1200ms both;
  }
  .menu__card:nth-child(1) :nth-child(5) {
    animation: card-load 300ms 1500ms both;
  }
}
@media (min-width: 1000px) {
  .menu__card:nth-child(2) :nth-child(1) {
    animation: card-load 300ms 300ms both;
  }
  .menu__card:nth-child(2) :nth-child(2) {
    animation: card-load 300ms 600ms both;
  }
  .menu__card:nth-child(2) :nth-child(3) {
    animation: card-load 300ms 900ms both;
  }
  .menu__card:nth-child(2) :nth-child(4) {
    animation: card-load 300ms 1200ms both;
  }
  .menu__card:nth-child(2) :nth-child(5) {
    animation: card-load 300ms 1500ms both;
  }
}
@media (min-width: 1000px) {
  .menu__card:nth-child(3) :nth-child(1) {
    animation: card-load 300ms 300ms both;
  }
  .menu__card:nth-child(3) :nth-child(2) {
    animation: card-load 300ms 600ms both;
  }
  .menu__card:nth-child(3) :nth-child(3) {
    animation: card-load 300ms 900ms both;
  }
  .menu__card:nth-child(3) :nth-child(4) {
    animation: card-load 300ms 1200ms both;
  }
  .menu__card:nth-child(3) :nth-child(5) {
    animation: card-load 300ms 1500ms both;
  }
}
.section3 article:nth-child(2)::before {
  content: "Nouveau";
  color: #007058;
  background: #99e2d0;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 6px 10px 5px 10px;
  border-radius: 4px;
}

.section3 article:nth-child(3)::before {
  content: "Nouveau";
  color: #007058;
  background: #99e2d0;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 6px 10px 5px 10px;
  border-radius: 4px;
}

@font-face {
  font-family: "Roboto", "Shrikhand", sans-serif;
  src: url(https://fonts.gstatic.com);
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 20px;
}

@media (min-width: 1200px) {
  .body-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .body-main .header-main {
    grid-column: 1 / span 2;
  }
  .body-main .section3 {
    grid-column: 1 / span 2;
  }
}

a {
  text-decoration: none;
  color: black;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header-main__title {
  font-family: "Shrikhand", sans-serif;
}
.header-main form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d6d6d6;
  color: #353535;
  height: 60px;
  width: 100%;
  margin: 0px;
  padding-top: 5px;
  box-shadow: inset 0px 3px 3px #585858;
}
.header-main form label {
  width: 50px;
  text-align: center;
  margin-left: -20px;
  cursor: pointer;
}
.header-main form label i {
  font-size: 25px;
}
.header-main form input {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  background-color: #d6d6d6;
  color: #353535;
  height: 100%;
  width: 165px;
  text-align: center;
  border: none;
}
.header-main form input:focus {
  outline: none;
}

.header-menu {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 80px;
}
@media (min-width: 1000px) {
  .header-menu {
    grid-column: 1 / span 2;
    background-color: white;
  }
}
.header-menu a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-menu__title {
  font-family: "Shrikhand", sans-serif;
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #1b1b1b;
  color: white;
  padding-left: 50px;
}
@media (min-width: 1000px) {
  footer {
    grid-column: 1 / span 2;
    margin-top: 10px;
  }
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 45px;
}
footer ul {
  margin-top: 0px;
  padding: 0px;
  list-style-type: none;
}
footer ul li {
  margin: 10px;
}
footer ul li a {
  color: white;
}

.loader {
  background: radial-gradient(#ff79da, #9356dc);
  position: fixed;
  width: 100%;
  height: 100%;
  animation: load 3s linear both;
}

.loader-spiner {
  font-family: "Shrikhand";
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#ff79da, #9356dc);
  border-top: 10px solid #9356dc;
  border-left: 10px solid #99e2d0;
  border-bottom: 10px solid #9356dc;
  border-right: 10px solid #99e2d0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 3s linear both;
  z-index: 10;
}

.section1 {
  font-size: 25px;
  padding: 0px 0px 50px 0px;
  text-align: center;
  background-color: #eee;
}
@media (min-width: 1200px) {
  .section1 {
    background-color: white;
  }
}
.section1__title {
  width: 85%;
  margin: 30px auto;
}
.section1__soustitre {
  color: #585858;
  width: 85%;
  margin: 25px auto;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0px 5%;
  margin: 10px 0px 50px 0px;
}
@media (min-width: 1000px) {
  .section2 {
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .section2 {
    margin: 0px;
    padding: 15px;
  }
}
.section2__title {
  font-size: 35px;
  margin-bottom: 10px;
}
.section2__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #eee;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 25px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d6d6d6;
}
.section2__button__number {
  background-color: #9356dc;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-left: -42px;
  margin-right: 50px;
  border: 2px solid #9356dc;
  border-radius: 50%;
}
.section2__button i {
  color: #585858;
  font-size: 23px;
  margin-right: 50px;
}
.section2__button:hover {
  background-color: #e4d5f6;
  box-shadow: 10px 10px 5px #d6d6d6;
}
.section2__button:hover i {
  color: #9356dc;
}

.section3 {
  background-color: #eee;
  padding: 50px 2%;
}
@media (min-width: 1200px) {
  .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}
@media (min-width: 1200px) {
  .section3__title {
    grid-column: 1/3;
  }
}
.section3 article {
  position: relative;
  background-color: white;
  height: 300px;
  width: 100%;
  margin: 20px 0px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d6d6d6;
}
.section3 img {
  width: 100%;
  height: calc(100% - 80px);
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.section3 .legende {
  font-size: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8%;
}
.section3 .legende h4 {
  font-size: 25px;
}
.section3 .legende .coeur {
  color: black;
  font-size: 35px;
}
.section3 .legende .coeur ::before {
  cursor: pointer;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  color: transparent;
  background-clip: initial;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to bottom,
    transparent 40%,
    #9356dc,
    #ff79da
  );
  background-size: 100% 200%;
  transition: all 0.5s;
}
.section3 .legende .coeur :hover::before {
  -webkit-text-stroke: 0px;
  background-position-y: 100%;
}
.section3 .legende p {
  font-size: 20px;
  margin: 5px 0px;
}

.description {
  width: 100%;
}
.description__figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  margin: 0px;
}
@media (min-width: 1000px) {
  .description__figure {
    height: 550px;
    margin: 10px 0px;
  }
}
.description__figure__img {
  height: calc(100% - 38px);
  width: 100%;
  object-fit: cover;
}
.description__figure__title {
  font-family: "Shrikhand", sans-serif;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  margin: -50px 0px 0px 0px;
  border-radius: 30px 30px 0px 0px;
}
@media (min-width: 1000px) {
  .description__figure__title {
    padding: 15px 5%;
    border-radius: 25px;
  }
}
.description__figure__title .coeur {
  color: #eee;
  font-size: 40px;
}
.description__figure__title .coeur ::before {
  cursor: pointer;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  color: transparent;
  background-clip: initial;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to bottom,
    transparent 40%,
    #9356dc,
    #ff79da
  );
  background-size: 100% 200%;
  transition: all 0.5s;
}
.description__figure__title .coeur :hover::before {
  background-position-y: 100%;
  -webkit-text-stroke: 0px;
}

.menu {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 25px;
  padding: 0px 2%;
}
@media (min-width: 1000px) {
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    border-radius: 30px;
  }
}
.menu__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 25px 0px;
}
@media (min-width: 1000px) {
  .menu__card {
    align-items: center;
  }
}
.menu__card__title {
  text-transform: uppercase;
  font-weight: normal;
}
.menu__card__title::after {
  content: "";
  display: block;
  background-color: #99e2d0;
  width: 60px;
  height: 5px;
}
.menu__card__food {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  max-width: 500px;
  height: 95px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 5px #d6d6d6;
}
.menu__card__food::after {
  content: "";
  background-color: #99e2d0;
  height: 100%;
  width: 0px;
  transition: width 0.5s;
}
.menu__card__food::before {
  content: "";
  font: normal normal bold 35px "Font Awesome 5 Free";
  color: white;
  position: absolute;
  top: 28px;
  right: 25px;
  transform: translateX(63px) rotate(-270deg);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.menu__card__food:hover .menu__card__food__title {
  width: 70%;
  transition: width 0.5s;
}
.menu__card__food:hover::after {
  width: 90px;
}
.menu__card__food:hover::before {
  opacity: 1;
  transform: translateX(0px) rotate(0deg);
}
@media (max-width: 425px) {
  .menu__card__food:hover::before {
    transform: translateX(8px) rotate(0deg);
  }
}
.menu__card__food__title {
  height: 100%;
  width: 90%;
  transition: width 1s;
  padding: 15px 0px 15px 20px;
  overflow: hidden;
}
.menu__card__food__title h4 {
  font-size: 22px;
  margin: 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__food__title p {
  font-size: 18px;
  color: #585858;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__food__prix {
  font-size: 21px;
  font-weight: bold;
  margin: 20px 15px;
}

.button-gradient {
  font-size: 20px;
  width: 100%;
  max-width: 295px;
  height: 65px;
  margin: 10px auto 50px auto;
  padding: 20px;
  color: white;
  background: linear-gradient(to right bottom, #ff79da 0%, #9356dc 60%);
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 5px 5px 5px #d6d6d6;
  transform: scale(1);
  transition: transform 300ms;
  align-self: center;
}
.button-gradient:hover {
  background: linear-gradient(to right bottom, #fface8 0%, #ae80e5 60%);
  box-shadow: 10px 10px 5px #d6d6d6;
  transform: scale(1.1);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
