
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    @include flexbox(column);
    font-size: 20px;
}

.body-main{
    @media (min-width: 1200px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        .header-main{
            grid-column: 1 / span 2;
        }
        .section3{
            grid-column: 1 / span 2;
        }
    }
}

a{
    text-decoration: none;
    color: black;
}
