
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    @include flexbox(column);
    margin: 0px;
    font-size: 20px;
    @media (min-width: 1000px){
        background-color: $grey;
    }
}

