/*Mixin pour les flexboxs*/
/*Mixin pour les ombres*/
/*Mixin pour les bordures (souvent des boutons)*/
@font-face {
  font-family: "Roboto", "Shrikhand", sans-serif;
  src: "";
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0px;
  font-size: 20px;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header-main__title {
  font-family: "Shrikhand", sans-serif;
}
.header-main p {
  background-color: #bebebe;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  margin: 0px;
  box-shadow: inset 0px 5px 10px #585858;
}

.header-menu {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 80px;
}
.header-menu i {
  margin: auto;
}
.header-menu__title {
  font-family: "Shrikhand", sans-serif;
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #1b1b1b;
  color: white;
  padding-left: 50px;
}
footer h1 {
  font-family: "Shrikhand", sans-serif;
}
footer ul {
  margin-top: 0px;
  padding: 0px;
  list-style-type: none;
}
footer ul li {
  margin: 10px;
}

.section1 {
  font-size: 25px;
  padding: 0px 0px 50px 0px;
  text-align: center;
  background-color: gainsboro;
}
.section1__title {
  width: 85%;
  margin: 30px auto;
}
.section1__soustitre {
  width: 85%;
  margin: 25px auto;
  color: #585858;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0px 5%;
  margin: 10px 0px 50px 0px;
}
.section2__title {
  margin-bottom: 10px;
}
.section2__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 25px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #bebebe;
}
.section2__button__number {
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-left: -42px;
  border: 2px solid #9356DC;
  border-radius: 50%;
}
.section2__button i {
  color: #585858;
  font-size: 23px;
}
.section2__button:hover {
  background-color: #e4d5f6;
  color: white;
  box-shadow: 10px 10px 5px #bebebe;
}
.section2__button:hover i {
  color: #9356DC;
}

.section3 {
  background-color: gainsboro;
  padding: 50px 5%;
}
.section3 figure {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  margin: 20px 0px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #bebebe;
}
.section3 img {
  height: calc(100% - 80px);
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.section3 figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8%;
  font-size: 23px;
}
.section3 figcaption .coeur {
  font-size: 30px;
}
.section3 figcaption .coeur:hover {
  color: #FF79DA;
}
.section3 figcaption p {
  margin: 10px 0px;
}

.description__figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0px;
}
.description__figure__title {
  font-family: "Shrikhand", sans-serif;
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  margin: -50px 0px 0px 0px;
  border-radius: 30px 30px 0px 0px;
}
.description__figure__title .coeur {
  margin-right: 25px;
}
.description__figure__title .coeur :hover {
  color: #FF79DA;
}

.menu {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0px 5%;
}
.menu__card__title {
  text-transform: uppercase;
  font-weight: normal;
}
.menu__card__title::after {
  content: "";
  display: block;
  width: 65px;
  height: 5px;
  background-color: #99E2D0;
}
.menu__card__food {
  background-color: #ffffff;
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: flex-end;
  height: 95px;
  margin: 20px 0px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #bebebe;
}
.menu__card__food:hover::after {
  animation: valid-width 1s;
  box-shadow: 10px 10px 5px #bebebe;
}
.menu__card__food__title {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: flex-end;
  height: 95px;
  width: 100%;
}
.menu__card__food__title strong {
  font-size: 25px;
}
.menu__card__food__prix {
  font-size: 21px;
  font-weight: bold;
}
.menu__commande {
  display: flex;
  flex-direction: default;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.menu__card__food::after {
  content: "";
  height: 95px;
  width: 0px;
  background-color: #65c572;
  border-radius: 0px 20px 20px 0px;
}

@keyframes valid-width {
  from {
    width: 0px;
  }
  to {
    width: 85px;
  }
}
.button-gradient {
  font-size: 20px;
  width: 300px;
  padding: 20px;
  color: white;
  background: linear-gradient(to right bottom, #FF79DA 0%, #9356DC 60%);
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 5px 5px 5px #bebebe;
}
.button-gradient:hover {
  background: linear-gradient(to right bottom, #fface8 0%, #ae80e5 60%);
  box-shadow: 10px 10px 5px #bebebe;
}

/*# sourceMappingURL=style.css.map */
