@charset "UTF-8";
/*Mixin pour les flexboxs*/
/*Mixin pour les ombres*/
/*Mixin pour les bordures (souvent des boutons)*/
@keyframes valid-width {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@keyframes card-load {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.9;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
.menu__card:nth-child(1) :nth-child(1) {
  animation: card-load 300ms 1500ms both;
}
.menu__card:nth-child(1) :nth-child(2) {
  animation: card-load 300ms 1800ms both;
}
.menu__card:nth-child(1) :nth-child(3) {
  animation: card-load 300ms 2100ms both;
}
.menu__card:nth-child(1) :nth-child(4) {
  animation: card-load 300ms 2400ms both;
}

.menu__card:nth-child(2) :nth-child(1) {
  animation: card-load 300ms 2700ms both;
}
.menu__card:nth-child(2) :nth-child(2) {
  animation: card-load 300ms 3000ms both;
}
.menu__card:nth-child(2) :nth-child(3) {
  animation: card-load 300ms 3300ms both;
}
.menu__card:nth-child(2) :nth-child(4) {
  animation: card-load 300ms 3600ms both;
}

.menu__card:nth-child(3) :nth-child(1) {
  animation: card-load 300ms 3900ms both;
}
.menu__card:nth-child(3) :nth-child(2) {
  animation: card-load 300ms 4200ms both;
}
.menu__card:nth-child(3) :nth-child(3) {
  animation: card-load 300ms 4500ms both;
}
.menu__card:nth-child(3) :nth-child(4) {
  animation: card-load 300ms 4800ms both;
}

@media (min-width: 1000px) {
  .menu__card:nth-child(1) :nth-child(1) {
    animation: card-load 300ms 300ms both;
  }
  .menu__card:nth-child(1) :nth-child(2) {
    animation: card-load 300ms 600ms both;
  }
  .menu__card:nth-child(1) :nth-child(3) {
    animation: card-load 300ms 900ms both;
  }
  .menu__card:nth-child(1) :nth-child(4) {
    animation: card-load 300ms 1200ms both;
  }
}
@media (min-width: 1000px) {
  .menu__card:nth-child(2) :nth-child(1) {
    animation: card-load 300ms 300ms both;
  }
  .menu__card:nth-child(2) :nth-child(2) {
    animation: card-load 300ms 600ms both;
  }
  .menu__card:nth-child(2) :nth-child(3) {
    animation: card-load 300ms 900ms both;
  }
  .menu__card:nth-child(2) :nth-child(4) {
    animation: card-load 300ms 1200ms both;
  }
}
@media (min-width: 1000px) {
  .menu__card:nth-child(3) :nth-child(1) {
    animation: card-load 300ms 300ms both;
  }
  .menu__card:nth-child(3) :nth-child(2) {
    animation: card-load 300ms 600ms both;
  }
  .menu__card:nth-child(3) :nth-child(3) {
    animation: card-load 300ms 900ms both;
  }
  .menu__card:nth-child(3) :nth-child(4) {
    animation: card-load 300ms 1200ms both;
  }
}
@font-face {
  font-family: "Roboto", "Shrikhand", sans-serif;
  src: "";
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0px;
  font-size: 20px;
}
@media (min-width: 1000px) {
  body {
    background-color: #bebebe;
  }
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header-main__title {
  font-family: "Shrikhand", sans-serif;
}
.header-main p {
  background-color: #bebebe;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  margin: 0px;
  box-shadow: inset 0px 5px 10px #585858;
}

.header-menu {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 80px;
}
@media (min-width: 1000px) {
  .header-menu {
    grid-column: 1/span 2;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
  }
}
.header-menu i {
  margin: auto;
}
.header-menu__title {
  font-family: "Shrikhand", sans-serif;
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #1b1b1b;
  color: white;
  padding-left: 50px;
}
@media (min-width: 1000px) {
  footer {
    grid-column: 1/span 2;
    margin-top: 10px;
    border-radius: 30px 30px 0px 0px;
  }
}
footer h1 {
  font-family: "Shrikhand", sans-serif;
}
footer ul {
  margin-top: 0px;
  padding: 0px;
  list-style-type: none;
}
footer ul li {
  margin: 10px;
}

.loader {
  background: radial-gradient(#FF79DA, #9356DC);
  position: fixed;
  width: 100%;
  height: 100%;
  animation: load 3s linear both;
}

.loader-spiner {
  font-family: "Shrikhand";
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#FF79DA, #9356DC);
  border-top: 10px solid #9356DC;
  border-left: 10px solid #99E2D0;
  border-bottom: 10px solid #9356DC;
  border-right: 10px solid #99E2D0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 3s linear both;
  z-index: 10;
}

.section1 {
  font-size: 25px;
  padding: 0px 0px 50px 0px;
  text-align: center;
  background-color: #dcdcdc;
}
.section1__title {
  width: 85%;
  margin: 30px auto;
}
.section1__soustitre {
  color: #585858;
  width: 85%;
  margin: 25px auto;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0px 5%;
  margin: 10px 0px 50px 0px;
}
.section2__title {
  margin-bottom: 10px;
}
.section2__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 25px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #bebebe;
}
.section2__button__number {
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-left: -42px;
  border: 2px solid #9356DC;
  border-radius: 50%;
}
.section2__button i {
  color: #585858;
  font-size: 23px;
}
.section2__button:hover {
  background-color: #e4d5f6;
  box-shadow: 10px 10px 5px #bebebe;
}
.section2__button:hover i {
  color: #9356DC;
}

.section3 {
  background-color: #dcdcdc;
  padding: 50px 5%;
}
.section3 figure {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 300px;
  width: 100%;
  margin: 20px 0px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #bebebe;
}
.section3 img {
  height: calc(100% - 80px);
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.section3 figcaption {
  font-size: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8%;
}
.section3 figcaption .coeur {
  font-size: 30px;
}
.section3 figcaption .coeur ::before {
  color: #000000;
  transition: color 1s;
}
.section3 figcaption .coeur :hover::before {
  font-weight: bold;
  color: #FF79DA;
}
.section3 figcaption p {
  margin: 10px 0px;
}

.description__figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0px;
}
@media (min-width: 1000px) {
  .description__figure {
    margin: 10px;
    border-radius: 35px;
  }
  .description__figure__img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 30px;
  }
}
.description__figure__title {
  font-family: "Shrikhand", sans-serif;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  margin: -50px 0px 0px 0px;
  border-radius: 30px 30px 0px 0px;
}
@media (min-width: 1000px) {
  .description__figure__title {
    border-radius: 30px;
  }
}
.description__figure__title .coeur {
  color: #ffffff;
  background-color: #dcdcdc;
  font-size: 40px;
  border-radius: 50%;
  padding: 0.2em;
  margin-right: 25px;
}
.description__figure__title .coeur ::before {
  content: "";
  font-weight: bold;
  transition: color 1s ease-out;
}
.description__figure__title .coeur :hover::before {
  color: #FF79DA;
  cursor: pointer;
}

.menu {
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0px 5%;
}
@media (min-width: 1000px) {
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    border-radius: 30px;
  }
}
.menu__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
@media (min-width: 1000px) {
  .menu__card {
    align-items: center;
  }
}
.menu__card__title {
  text-transform: uppercase;
  font-weight: normal;
}
.menu__card__title:hover::after {
  transform-origin: left;
  transform: scaleX(5);
  transition: transform 1s;
}
.menu__card__title::after {
  content: "";
  display: block;
  width: 65px;
  height: 5px;
  background-color: #99E2D0;
  transform: scaleX(1);
}
.menu__card__food {
  background-color: #ffffff;
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: 95px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #bebebe;
}
@media (min-width: 1000px) {
  .menu__card__food {
    width: 80%;
  }
}
.menu__card__food::after {
  content: "";
  background-color: #99E2D0;
  height: 100%;
  width: 0px;
  transition: width 1s;
  border-radius: 0px 20px 20px 0px;
}
.menu__card__food:hover::after {
  width: 100px;
}
.menu__card__food__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 90%;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card__food__title:hover h4 {
  transition: color 1s;
  color: #99E2D0;
}
.menu__card__food__title h4 {
  font-size: 22px;
  margin: 5px 0px;
}
.menu__card__food__title p {
  font-size: 19px;
  color: #585858;
  margin: 0px;
}
.menu__card__food__prix {
  font-size: 21px;
  font-weight: bold;
  margin: 20px 10px;
}
.menu__commande {
  display: flex;
  flex-direction: default;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin: auto;
}
@media (min-width: 1000px) {
  .menu__commande {
    background: radial-gradient(#99E2D0, #9356DC, #FF79DA);
    width: auto;
    padding: 50px;
    border-radius: 50%;
    border: 10px solid #99E2D0;
  }
}

.button-gradient {
  font-size: 20px;
  width: 300px;
  padding: 20px;
  color: white;
  background: linear-gradient(to right bottom, #FF79DA 0%, #9356DC 60%);
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 5px 5px 5px #bebebe;
  transform: scale(1);
  transition: transform 300ms;
}
.button-gradient:hover {
  background: linear-gradient(to right bottom, #fface8 0%, #ae80e5 60%);
  box-shadow: 10px 10px 5px #bebebe;
  transform: scale(1.2);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
