
.description{
    &__figure{
        @include flexbox(column);
        margin: 0px;
        @media (min-width: 1000px){
            margin: 10px;
            border-radius: 35px;
            &__img{
                max-height: 400px;
                object-fit: cover;
                border-radius: 30px;
            }
        }
        &__title{
            font-family: "Shrikhand", sans-serif;
            background-color: $lightgrey;
            @include flexbox (row, space-between, center);
            padding: 0px 5%;
            margin: -50px 0px 0px 0px;
            border-radius: 30px 30px 0px 0px;
            @media (min-width: 1000px){
                padding: 15px 5%;
                border-radius: 25px;
            }
            .coeur{
                color: $lightgrey;
                font-size: 40px;
                ::before{
                    cursor: pointer;
                    font-weight: bold;
                    -webkit-text-stroke: 2px black;
                    color: transparent;
                    background-clip: initial;
                    -webkit-background-clip: text;
                    background-image: linear-gradient(to bottom, transparent 40%, $violet, $rose);
                    background-size: 100% 200%;
                    transition: all 0.5s;
                }
                :hover::before{
                    background-position-y: 100%;
                    -webkit-text-stroke: 0px;
                }
            }
        }
    }
}

.menu{
    background-color: $lightgrey;
    @include flexbox(column);
    padding-top: 25px;
    padding: 0px 2%;
    @media (min-width: 1000px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px;
        border-radius: 30px;
    }
    &__card{
        @include flexbox(column, flex-start, stretch);
        margin: 25px 0px;
        @media (min-width: 1000px){
            align-items: center;
        }
        &__title{
            text-transform: uppercase;
            font-weight: normal;
            &::after{
                content: '';
                display: block;
                background-color: $turquoise;
                width: 60px;
                height: 5px;

            }
        }
        &__food{
            background-color: #ffffff;
            @include flexbox( row, space-between, flex-end);
            width: 95%;
            max-width: 500px;
            height: 95px;
            margin: 20px auto;
            border-radius: 20px;
            @include shadows (5px);
            overflow: hidden;
            &::after{
                content: '';
                background-color: $turquoise;
                height: 100%;
                width: 0px;
                transition: width 0.5s;
            }
            &::before{
                content: '\f058';
                font: normal normal bold 35px 'Font Awesome 5 Free';
                color: white;
                position: absolute;
                top: 28px;
                right: 25px;
                transform: translateX(63px) rotate(-270deg);
                transition: transform 0.5s;
            }
            &:hover{
                & .menu__card__food__title{
                    width: 70%;
                    transition: width 0.5s;
                }
                &::after{
                    width: 90px;
                }
                &::before{
                    transform: translateX(0px) rotate(0deg);
                    @media (max-width: 425px){
                        transform: translateX(8px) rotate(0deg);
                    }
                }
            }
            &__title{
                height: 100%;
                width: 90%;
                transition: width 1s;
                padding: 15px 0px 15px 20px;
                overflow: hidden;
                & h4{
                    font-size: 22px;
                    margin: 5px 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p{
                    font-size: 18px;
                    color: $darkgrey;
                    margin: 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &__prix{
                font-size: 21px;
                font-weight: bold;
                margin: 20px 15px;
            }
        }
    }
}
