
.description{
    &__figure{
        @include flexbox(column);
        margin: 0px;
        &__title{
            font-family: "Shrikhand", sans-serif;
            background-color: $lightgrey;
            @include flexbox (row, space-between, center);
            padding: 0px 5%;
            margin: -50px 0px 0px 0px;
            border-radius: 30px 30px 0px 0px;
            & .coeur{
                margin-right: 25px;
                :hover{
                    color: $rose;
                }
            }
        }
    }
}

.menu{
    background-color: $lightgrey;
    @include flexbox(column);
    padding: 0px 5%;
    &__card{
        &__title{
            text-transform: uppercase;
            font-weight: normal;
            &::after{
                content: '';
                display: block;
                width: 65px;
                height: 5px;
                background-color: #99E2D0;
            }
        }
        &__food{
            background-color: #ffffff;
            @include flexbox( none, space-between, flex-end);
            height: 95px;
            margin: 20px 0px;
            border-radius: 20px;
            @include shadows (5px);
            &:hover{
                &::after{
                    animation: valid-width 1s;
                    @include shadows (10px);
                }
            }
            &__title{
                @include flexbox( none, space-between, flex-end);
                height: 95px;
                width: 100%;
                & strong{
                    font-size: 25px;
                }
            }
            &__prix{
                font-size: 21px;
                font-weight: bold;
            }
        }
    }
    &__commande{
        @include flexbox( default, center, center);
        height: 200px;
    }
}

.menu__card__food::after{
    content: '';
    height: 95px;
    width: 0px;
    background-color: rgb(101, 197, 114);
    border-radius: 0px 20px 20px 0px;
}

@keyframes valid-width{
    from{
        width: 0px;
    }
    to{
        width: 85px;
    }
}