
.section-description{
    &__figure{
        display: flex;
        flex-direction: column;
        margin: 0px;
        &__title{
            font-family: "Shrikhand", sans-serif;
            background-color: $lightgrey;
            @include flexbox (row, space-between, center);
            margin: -15px 0px 0px 0px;
            padding: 0px 5%;
            border-radius: 20px 20px 0px 0px;
        }
    }
}


.menu {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    padding: 0px 5%;
    &__card{
        &__food{
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0px 30px 0px 10px;
            margin: 20px 0px;
            border-radius: 20px;
            @include shadows (5px);
        }
    }
    &__commande{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
}
