
.section3{
    background-color: rgb(190, 190, 190);
    padding: 0px 5%;
    & figure{
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 100%;
        margin: 20px 0px;
        background-color: white;
        border-radius: 20px;
        @include shadows;
    }
    & img{
        height: calc(100% - 80px);
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    & figcaption{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 8%;
        font-size: 23px;
        & .coeur{
            font-size: 30px;
            &:hover{
                color: violet;
            }
        }
        & p{
            margin: 10px 0px;
        }
    }
}


