.section3 {
  background-color: $lightgrey;
  padding: 50px 2%;
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  &__title {
    @media (min-width: 1200px) {
      grid-column: 1 / 3;
    }
  }
  & article {
    position: relative;
    background-color: white;
    height: 300px;
    width: 100%;
    margin: 20px 0px;
    border-radius: 20px;
    @include shadows(5px);
  }
  & img {
    width: 100%;
    height: calc(100% - 80px);
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .legende {
    font-size: 23px;
    @include flexbox(row, space-between, center);
    padding: 0px 8%;
    & h4 {
      font-size: 25px;
    }
    .coeur {
      color: black;
      font-size: 35px;
      ::before {
        cursor: pointer;
        font-weight: bold;
        -webkit-text-stroke: 2px black;
        color: transparent;
        background-clip: initial;
        -webkit-background-clip: text;
        background-image: linear-gradient(
          to bottom,
          transparent 40%,
          $violet,
          $rose
        );
        background-size: 100% 200%;
        transition: all 0.5s;
      }
      :hover::before {
        -webkit-text-stroke: 0px;
        background-position-y: 100%;
      }
    }
    & p {
      font-size: 20px;
      margin: 5px 0px;
    }
  }
}
