
.section1{
    font-size: 25px;
    padding: 0px 0px 50px 0px;
    text-align: center;
    background-color: $lightgrey;
    &__title{
        width: 85%;
        margin: 30px auto;
    }
    &__soustitre{
        color: rgb(88, 88, 88);
        width: 85%;
        margin: 25px auto;
        
    }
}

