
.section3{
    background-color: $lightgrey;
    padding: 50px 5%;
    & figure{
        background-color: white;
        @include flexbox(column);
        height: 300px;
        width: 100%;
        margin: 20px 0px;
        border-radius: 20px;
        @include shadows (5px);
    }
    & img{
        height: calc(100% - 80px);
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    & figcaption{
        font-size: 23px;
        @include flexbox(row, space-between, center);
        padding: 0px 8%;
        
        .coeur{
            background-color: white;
            font-size: 40px;
            :hover::before{
                animation: heart 2s both;
                cursor: pointer;
            }
        }
        & p{
            margin: 10px 0px;
        }
    }
}


