
.section2{
    @include flexbox(column);
    padding: 0px 5%;
    margin: 10px 0px 50px 0px;
    &__title{
        margin-bottom: 10px;
    }
    &__button{
        @include flexbox( row, flex-start, center);
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        max-width: 500px;
        text-align: center;
        padding: 25px;
        margin: 10px;
        @include button-border;
        border-radius: 20px;
        @include shadows (5px);
        &__number{
            background-color: $violet;
            color: white;
            @include flexbox( row, center, center);
            height: 30px;
            width: 30px;
            margin-left: -42px;
            border: 2px solid $violet;
            border-radius: 50%;
        }
        & i{
            color: $darkgrey;
            font-size: 23px;
        }
        &:hover{
            background-color: lighten($color: $violet, $amount: 30);
            color: white;
            @include shadows (10px);
            & i{
            color: $violet;
            }
        }
    }
}
