
@for $i from 1 through 3 {
    .menu__card:nth-child(#{$i}){
        @for $j from 1 through 5 {
            :nth-child(#{$j}){
                animation: card-load 300ms ($j * 300ms + $i * 1200ms - 1200ms) both;
            }
        }
    }
}

@for $i from 1 through 3 {
    @media (min-width: 1000px){
        .menu__card:nth-child(#{$i}){
            @for $j from 1 through 5 {
                :nth-child(#{$j}){
                    animation: card-load 300ms ($j * 300ms) both;
                }
            }
        }
    }
}


@for $i from 2 through 3 {
    .section3 figure:nth-child(#{$i}){
        &::before{
            content: 'Nouveau';
            color: #007058;
            background: $turquoise;
            position: absolute;
            top: 25px;
            right: 25px;
            padding: 6px 10px 5px 10px;
            border-radius: 4px;
        }
    }
}