
@mixin shadows ($shadow-size) {
    box-shadow: $shadow-size $shadow-size 5px grey;
}

@mixin button-border {
    border: none;
    outline: none;
}

@mixin card-size{
    padding: 20px;
    font-size: 20px;
}