
/*Mixin pour les flexboxs*/

$stretch: stretch;
$flex-start: flex-start;
$row: row;

@mixin flexbox ($flex-direction: $row, $justify-content: $flex-start, $align-items: $stretch){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

/*Mixin pour les ombres*/

$shadow: 10px;

@mixin shadows ($shadow-size: $shadow) {
    box-shadow: $shadow-size $shadow-size 5px $grey;
}

/*Mixin pour les bordures (souvent des boutons)*/

@mixin button-border {
    border: none;
    outline: none;
}


